<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VioAlarmQualityCheckUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <behaviors configSource="IcoCommunication.Behaviors.config.xml"/>
        <bindings configSource="IcoCommunication.Bindings.config.xml"/>
        <client configSource="IcoCommunication.Client.config.xml"/>
    </system.serviceModel>
    <userSettings>
        <VioAlarmQualityCheckUtility.Properties.Settings>
            <setting name="SqlServerInstance" serializeAs="String">
                <value/>
            </setting>
            <setting name="SqlServerDatabase" serializeAs="String">
                <value/>
            </setting>
        </VioAlarmQualityCheckUtility.Properties.Settings>
    </userSettings>
</configuration>
